* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none; /*This removes the underline from hyperlinks*/
    list-style: none; /*List style is to modify the bulleted points*/
    font-family: monospace;
}

body {
    background-color: aliceblue;
}

nav {
    background: antiquewhite;
    height: 84px;
    width: 100%;
}

label {
    color: #333;
    font-size: 36px;
    line-height: 84px;
    padding: 0 6.5px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-top: 1rem;
    margin-right: 4rem;
}

nav li {
    display: inline-block;
    line-height: 60px;
    margin: 0px 5px;
}

nav li a {
    font-size: 24px;
    color: #333;
    border-radius: 1rem;
    padding: 16px 2rem 16px 2rem; /*Top right bottom left*/
    text-transform: uppercase; /*Used to modify text via CSS*/
}

footer {
    display: flex;
    background-color: #7a5c00;
    line-height: 180px;
}

.showcase-banner img{
    display: flex;
    min-width: 100%;
    max-width: 100vw;
    min-height: 300px;
    max-height: 700px;
}

.check-btn {
    font-size: 30px;
    color: #333;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer; /*Changes mouse to select when hovered*/
    display: none;
}

#check {
    display: none;
}

a .nav-bar, a:hover {
    background: #fff;
    transition: 0.7s;
}

.container-box {
    padding: 3rem;
    margin: 3rem;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6rem;
}

.card {
    width: 325px;
    background-color: antiquewhite;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    transition: all 5s cubic-bezier(0.075, 0.82, 0.165, 1); /*Defines a default transition for your class*/
}

.card img {
    width: 100%;
    height: auto;
}

.card-container {
    padding: 1rem;
}

.card-content h3 {
    font-size: 28px;
    margin: 8px;
}

.card-content p {
    margin: 8px;
    color: black;
    font-size: 1rem;
    line-height: 1.2;
}

.card-content .read-more {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    border-radius: 0.8rem;
    margin: 8px;
    color: #fff;
}

.card:hover {
    transform: translateY(-12px) scale(1.05);
    box-shadow: 0px 20px 60px rgba(0,0,0,0.2);
}

@media (max-width: 960px) {
    
    label .Logo {
        font-size: 12px;
        padding-left: 20px;
    }
    
    nav li a {
        font-size: 16px;
    }

    ul {
        position:fixed;
        width: 100%;
        height: 100vh;
        background: #fff;
        top: 80px;
        font-size: 42px;
        text-align: center;
        top: 80px;
        left: -100%;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }

    .check-btn {
        display: block;    
    }
    
    #check:checked ~ ul {
        left: 0;

    }

    a .nav-bar, a:hover {
    padding: 2rem 12rem 2rem 12rem;
    background: #333;
    color:#fff;
    transition: 0.7s;

}
}